*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
    /*border: 5px solid #ff9;*/
}
.logo_container h1{
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.logo_container img{
    height: 100px;
}
.navigation{
    padding-top: 50px;
    float: right;
    height: 100%;
    color: white;
    z-index: 1;
}
.navigation ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
.navigation ul li{
    background: #2c3e50;
    position: relative;
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 15px;
}
.navigation ul li a:hover{
    background: #243342;
}
.navigation ul ul{
    position: absolute;
    top: 30px;
    display: none;
}
.navigation ul li:hover > ul{
    display: block;
}
.navigation ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.navigation ul ul ul li{
    position: relative;
    top: -30px;
    right: 150px;
}
.srch{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../assets/img/bg-pic.jpg");
    background-size: cover;
    
}
input{
    padding: 5px 0px 5px 15px;
    width: 75%;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    outline: none;
}
.hi{
    width: 25%;
    height: 30%;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.hello{
    font-family: monospace;
    font-size: 30px;
}
.cards{
    margin: 10px;
    padding: 10px;
    background-color: #17141d;
    color: white;
    font-family: monospace;
    border-radius: 10px;
}
.new-arrivals{
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}
.arrival-card{
    margin-right: 10px;
    display: flex;
    font-size: 18px;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: 2rem 0 3rem #000;
}
.arrival-card button{
    margin-top: 10px;
    margin-left: 25%;
    border: 1px solid cyan;
    border-radius: 10px;
    background: cyan;
    width: 50%;
}
.arrival-card img{
    height: 166px;
}
.new-arrivals::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.new-arrivals::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.new-arrivals::-webkit-scrollbar-track{
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
.card-heading{
    margin-top: -35px;
    font-size: 20px;
    padding: 0;
    position: absolute;
}
.contact{
    margin: 10px;
    padding: 10px;
    background: #17141d;
    border-radius: 10px;
    font-family: monospace;
    color: white;
    height: 200px;
}
.contact header{
    padding: 10px;
    margin-bottom: 10px;
    background: #000;
    color: white;
    font-size: 20px;
    font-family: monospace;
}
.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}