@charset "UTF-8";

/* About Cards */

.flip-card {
  background-color: white;
  width: 300px;
  height: 300px;
  perspective: 2000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 2%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #ffd22f;
  color: rgb(58, 58, 58);
  transform: rotateY(180deg);
}

.col-lg.embed-responsive.embed-responsive-16by9 {
  border-radius: 2%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #343a40;
}

.carousel-indicators .active {
  background-color: #403f34;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* About Cards */

/* Event Cards */
.event-card {
  position: relative;
  width: 300px;
  height: 400px;

  -webkit-transition: box-shadow 0.5s;

  overflow: hidden;
  border-radius: 2%;
  background-color: #fff;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-card a {
  color: inherit;
}

.event-card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.event-card-date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: #e6b400;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}

.event-card-date-day {
  font-size: 14px;
}

.event-card-date-month {
  text-transform: uppercase;
  font-size: 10px;
}

.event-card-thumb {
  height: 200px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.event-card-thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.event-card:hover .event-card-thumb {
  height: 130px;
}

.event-card:hover .event-card-thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.event-card-body {
  position: relative;
  height: 185px;
  padding: 20px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card:hover .event-card-body {
  height: 300px;
}

.event-card-category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #e6b400;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.event-card-title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}

.event-card-subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #e6b400;
}

.event-card-description {
  position: absolute;
  bottom: auto;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  color: #666c74;
  line-height: 27px;
  opacity: 0;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.event-card:hover .event-card-description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.event-card-footer {
  position: absolute;
  bottom: 12px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #a3a9a2;
}
/* Event Cards */

/* Fancy Seperator */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  /* // use the linear-gradient for the fading effect */
  /* // use a solid background color for a solid bar */
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;
  /* // this is really the only tricky part, you need to specify the background color of the container element... */
  color: #818078;
  background-color: #fcfcfa;
}
/* Fancy Seperator */

/* Portfolio */
.portfolio-item-card {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#portfolio .portfolio-item {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Inter", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Inter", "Roboto Slab", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Inter", "Roboto Slab", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
/* Portfolio */

/* Team & Info Card */
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.card-info {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30px;
  left: 130px;
  clip-path: circle(15px at 150px 20px);
  transition: all ease-in-out 0.3s;
  background-color: #343a40;
}
.card-info-icon {
  position: relative;
  top: 7px;
  right: 1px;
  color: rgb(255, 255, 255);
  transition: ease-out 0.3s;
}
.card-info-title {
  padding-bottom: 10px;
}
.card-info-description {
  text-align: right;
}
.card-info:hover,
.card-info:focus {
  clip-path: circle(100%);
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #fff;
  outline: none;
}
.card-info:hover .card-info-icon,
.card-info:focus .card-info-icon {
  opacity: 0;
}
.card-info:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08),
    0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* Team Info Card */
